<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.uestc.java.group9.edums.mapper.PersonnelMapper">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
	<select id="queryById" resultType="edu.uestc.java.group9.edums.entity.PersonnelChange" parameterType="long">
		<!-- 具体的sql -->
		SELECT *
		FROM
		PersonnelChange
		WHERE
		ID = #{Id}
	</select>

    <select id="queryByTeacherId" resultType="edu.uestc.java.group9.edums.entity.PersonnelChange" parameterType="long">
        <!-- 具体的sql -->
        SELECT *
        FROM
        PersonnelChange
        WHERE
        TeacherID = #{teacherID}
    </select>

    <select id="queryAll" resultType="edu.uestc.java.group9.edums.entity.PersonnelChange">
		SELECT *
		FROM
		PersonnelChange
		ORDER BY
		Create_time
		LIMIT #{offset}, #{limit}
	</select>

    <update id="update">
		UPDATE PersonnelChange
		SET Type = #{type}, PreviousTitle =#{previousTitle}, PreviousWorkplace =#{previousWorkplace},
		    CurrentTitle =#{currentTitle}, CurrentWorkplace =#{currentWorkplace},Create_time=#{createTime}
		WHERE
			ID = #{id}
	</update>

    <insert id="insertPC">
  		insert into PersonnelChange (TeacherID,Type,PreviousTitle,PreviousWorkplace,CurrentTitle,CurrentWorkplace,Create_time)
  		values (#{teacherID},#{type},#{previousTitle},#{previousWorkplace}, #{currentTitle},#{currentWorkplace},#{createTime})
	</insert>

	<delete id="deleteById">
		DELETE from PersonnelChange where ID=#{Id}
	</delete>

</mapper>